<!DOCTYPE HTML>

<html>
	<head>
		<title>Learning Stack</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="/images/501-society-tab-icon-round.png">
		<link rel="stylesheet" href="/css/new.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Space+Mono&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/c46266e803.js" crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/c46266e803.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="mobile-nav-bar"></div>
			<!-- Mobile Toggler -->
			<button class="mobile-toggler" onclick="toggleMobileNav()"><i class="fa-solid fa-bars"></i></button>

			<!-- Add learning resource -->
			<button type="button" class="add-learning-stack-button" onclick="openForm()">Add Learning Resource +</button>
		
			<!-- Nav -->
            <nav id="nav">
                <ul>
					<li class="current"><a href="/" title="Home"><i class="fa-solid fa-house"></i></a></li>
					<li class="current"><a href="/feed" title="Feed"><i class="fa-solid fa-layer-group"></i></a></li>
					<li><a href="/learning-stacks" title="My Profile"><i class="fa-regular fa-user"></i></a></li>
					<li><a href="/logout" class="logout__btn" title="Logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                </ul>
            </nav>

			<!-- Header -->
				
            <div class="container background-2 learning-stack-header">
                <section class="hero">
							
                    <h1 class="learning-stack-h1"><%= learningStackName %></h1>

				</section>
            
			
				<!-- Add learning resource popup -->
		
				<form action="/learning-stack-page/createLearningResource/<%= learningStackId%>" method='POST' class="add-learning-stack-form" id="addLearningStackForm">
					<button class="close-form" onclick="closeForm()">Close</button>
					<br>
					<h2 class="add-learning-stack-header">Add a Learning Resource</h2>

					<!-- Learning Resource Name -->
					<div class="inline">
						<label for="learning-resource-name" class="form-name">Learning Resource Name</label>
						<input type="text" placeholder="Enter the Name of Your Learning Resource" name="learningResourceName">
					</div>
					
					<!-- Link to Learning Resource -->
					<div class="inline two-rem-margin-top">
						<label for="learning-resource-link" class="form-name">Link to Learning Resource</label>
						<input type="url" placeholder="Enter the URL of the Learning Resource" name="learningResourceLink">
					</div>

					<input type="submit" value="Submit" class="submit-form two-rem-margin-top">
				</form>

            </div>



			<!-- Main -->
            <div class="columnContainer leftAlign">

                    
					<!-- Prompt user to add a learning stack if they don't have one -->
					<% if (learningResources.length == 0) { %>
						<p class="add-new-prompt">Add your first learning resource by clicking the button in the top left!</p>
					<!-- Display learning stacks -->
					<%} else { %>
				
						<!-- Courses -->
						<% for(var i=0; i<learningResources.length; i++) {%>		
							<div class="list">
								<!-- <a href="https://youtu.be/rfscVS0vtbw" target="_blank"><img src="/images/course-image.jpg" alt="Course image"></a> -->
								<a href="<%= learningResources[i].urlToResource %>" target="_blank"><h3><%= learningResources[i].learningResourceName %></h3></a>
								<!-- <span class="courseType">YouTube</span> -->
								<!-- <span class="dueDate">July 4th, 2022</span> -->
								<!-- <div class="courseLinks">
									<a href="#"><i class="fa-solid fa-book" alt="Notes"></i> Notes</a>
									<a href="#"><i class="fa-solid fa-link"></i> Important Links</a>
									<a href="#"><i class="fa-solid fa-caret-down"></i> Not Yet Completed</a>
									<a href="#"><i class="fa-solid fa-bell"></i> Reminders</a>
									<a href="#"><i class="fa-solid fa-square-share-nodes"></i> Share</a>
								</div> -->
								<form
									action="/learning-stack-page/deleteLearningResource/<%= learningResources[i].id %>?_method=DELETE"
									method="POST">
									<button class="btn btn-primary fa fa-trash" type="submit"></button>
								</form>
							</div>
						<% } %>		
					
					<% } %>		
	
            </div>

		</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>